body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#header1{
    background-color: #4CAF50;
            color: white;
            padding: 1em;
            text-align: center;
}


nav {
    margin: 0;
    padding: 1em;
    background: #333;
    color: white;
    text-align: center;}
    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
    }

#box1{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
#a1{
    
    text-decoration: none;
    display: inline-block;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
   
    width: 100%;
    bottom: 0;
}

form{
    bottom: 55px;
   
    padding: 0em;
    
}